<a href="https://colab.research.google.com/github/Ronald-Granillo/Progra3/blob/main/PracticasLABprogra.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

TIPOS DE DATOS

In [ ]:
num1 = 5 #variable de tipo entero.
num2 = 4.9 #variable de tipo double, real, decimal.
print("Los valores: Num 1: ", num1, " Num 2: ", num2)

#num1 = 4.9
print("Valor: Num 1: ", num1)

Los valores: Num 1:  5  Num 2:  4.9
Valor: Num 1:  5

In [ ]:
varLogica = False

print("Variable Booleana: ", varLogica)

In [ ]:
nombre = "Ronald Granillo"
print("Mi Nombre: ", nombre, "Iniciales: ", nombre[0], nombre[6], "Longitud: ", len(nombre) )
print("Primer Nombre: ", nombre[0:6])
print("Primer Nombre: ", nombre[:6])
print("Apellido: ", nombre[6:len(nombre)])
print("Apellid: ", nombre[6:])
print("Apellido: ", nombre[-8:])

Mi Nombre:  Ronald Granillo Iniciales:  R   Longitud:  15
Primer Nombre:  Ronald
Primer Nombre:  Ronald
Apellido:   Granillo
Apellid:   Granillo
Apellido:  Granillo

In [ ]:
print(type(num1))
print(type(num2))
print(type(varLogica))
print(type(nombre))

In [ ]:
num1 = float(input("Num 1: "))
num2 = float(input("Num 2: "))
resp = num1 + num2
print("La suma es: ", resp)

Num 1: 5
Num 2: 4
La suma es:  9.0

In [ ]:
def suma(num1, num2):
  return num1 + num2

In [ ]:
num1 = float(input("Num 1: "))
num2 = float(input("N4.26um 2: "))
resp = suma(num1, num2)
print(resp)

Num 1: 4
N4.26um 2: 6
10.0

**FUNCIONES DE USUARIO**

* Convertir grados celsius a farenheit.

In [ ]:
def convertir_cf(c):
  return 32 + c*9/5

In [ ]:
c = float(input("Celsius: "))
print("F: ", convertir_cf(c))

Celsius: 3
F:  37.4

**EJERCICIOS**
* Convertir de Farenheit a Celsius
* Convertir de [Celsius, Farenheit] a Kelvin

* CALCULAR EL SUELDO MENSUAL

In [ ]:
def sueldo(numHrs, valorXhr):
  sueldo = numHrs*valorXhr*30
  if(numHrs>8):
    sueldo += (numHrs-8)*valorXhr*2*30
  #isss + afp = 3 + 6.25 = 9.25 = 100 - 9.25 = 90.75/100 = 0.9075
  #sueldo = sueldo*0.9075
  return sueldo

In [ ]:
tabla_isr = [
    [0.01, 472, 0, 0],
    [472.01, 895.24, 0.1, 17.67],
    [895.25, 2038.1, 0.2, 60.00],
    [2038.11,9999999, 0.3, 288.57]
]

In [ ]:
def calcularIsr(sueldo, sueldoNeto):
  impSr = 0
  for tramo in tabla_isr:
    if sueldo>tramo[0] and sueldo<=tramo[1]:
      impSr = (sueldoNeto-tramo[0])*tramo[2] + tramo[3]
  return impSr

In [ ]:
valorXhr = 4
#isss = 3%
#afp = 6.25%
numHrs = float(input("Horas trabajadas: "))
s = sueldo(numHrs, valorXhr)
isr = calcularIsr(s, s*0.9075)
print( "Sueldo: ", s, "ISR: ", isr, s*0.9075-isr )

Horas trabajadas: 8
Sueldo:  960.0 ISR:  55.18999999999998 816.01

**FUNCIONES LAMBDA**
* FUNCIONES PRECONTRUIDAS MAP, FILTER, FIND, REDUCE, ETC.

In [ ]:
def elevarCuadrado(num):
  return num**2

In [ ]:
data = [1,2,3,4,5]

In [ ]:
resp = map(elevarCuadrado, data)
print(list(resp))

[1, 4, 9, 16, 25]

In [ ]:
resp = map(lambda n:n**2, data)
print(list(resp))

[1, 4, 9, 16, 25]

In [ ]:
resp = filter(lambda n:n>2, data)
print( list(resp) )

[1]

In [ ]:
resp = functools.reduce(lambda a,n:a+n, data)
print(resp)

15

**TUPLAS**

In [ ]:
semana = ("domingo", "lunes", "martes", "miercoles", "jueves", "viernes", "sabado")
#semana[0] = "otro"
print( semana.count("domingo") ) #count cuenta el numero de veces que aparece un elemento en la tupla
print( len(semana) )

1
7

**LISTAS** => **Array**

In [ ]:
meses = ["ene", "feb", "mar", "abr", "may", "jun", "jul", "ago", "sep", "oct", "nov", "dic"]
print( meses[-2:] ) #ultimos dos meses del año
print( meses[:2] ) #primero dos meses del año

meses[0] = "enero"

print( meses )

['nov', 'dic']
['ene', 'feb']
['enero', 'feb', 'mar', 'abr', 'may', 'jun', 'jul', 'ago', 'sep', 'oct', 'nov', 'dic']

In [ ]:
materias = [ ["Progra I", [5,6,8], [8,7,9], [9,10,9] ], ["Progra II"] ]
print( materias[1][0] )

Progra II

**DICCIONARIOS** => **JSON**

In [ ]:
materias = {
    "Progra I": {
        "c1": {
          "lab1" : 5,
          "lab2" : 6,
          "parcial" : 8
      },
      "c2": {
          "lab1" : 8,
          "lab2" : 7,
          "parcial" : 9
      },
      "c3": {
          "lab1" : 9,
          "lab2" : 10,
          "parcial" : 9
      }
    },
    "Progra II" :{

    }
}
print( materias["Progra I"]["c1"]["lab1"] )

5

**LISTAS**

In [ ]:
data = [2,5,6,8,9]

In [ ]:
resp = map(lambda n:n**3, data)
print(list(resp))

[8, 125, 216, 512, 729]

In [ ]:
f = map(lambda c:c*9/5 + 32, data)
print( list(f) )

[35.6, 41.0, 42.8, 46.4, 48.2]

In [ ]:
pares = filter(lambda n:n%2==0, data)
print( list(pares) )

[2, 6, 8]

In [ ]:
impares = filter(lambda n:n%2!=0, data)
print( list(impares) )

[5, 9]

**CICLOS**
* FOR

In [ ]:
for item in data:
  print(item)

* WHILE

In [ ]:
i=0
n = len(data)
while i<n:
  print( data[i] )
  i+=1

**TABLA DE MULTIPLICAR**

In [ ]:
n = int(input("N Tabla: "))

for i in range(1,11):
  print( n, "x", i, "=", n*i )

In [ ]:
edad = int(input("Edad: "))

if edad<=2:
  print("soy un bebe")
elif edad<=11:
  print("Soy un niño")
elif edad<18:
  print("Soy un adolescente")
elif edad<=65:
  print("soy mayor de edad")
elif edad<=85:
  print("Soy un adulto mayor")
else:
  print("Larga vida")

Edad: 5
Soy un niño

In [ ]:
lista = [5,8,9,15,7,9,2,3, 2, 1]

In [ ]:
mayor = 0
for num in lista:
  if num>mayor:
    mayor = num
print("EL numero mayor de la lista: ", lista, "es: ", mayor)

EL numero mayor de la lista:  [5, 8, 9, 15, 7, 9, 2, 3, 2, 1] es:  15

In [ ]:
mayor = 0
i=0
n=len(lista)
while i<n:
  if lista[i]>mayor:
    mayor = lista[i]
  i+=1
print(mayor)

15

**Escribir un programa que pida la nota de un examen (0-10), e imprima por pantalla la calificacion en formato: "Suspenso" si la nota es menor a 5, "Aprobado" si es entre 5 inclusive, y 7 sin incluir, "Notable" si esta entre 7 inclusive y 9 sin incluir, "Sobresaliente" si esta entre 9 inclusive y 10 sin incluir, y "Honorable" si es 10**

In [ ]:
nota = float(input("Nota: "))
if(nota<0 or nota>10):
  print("Nota invalida")
elif(nota<5):
  print("SUPENSO")
elif(nota<7):
  print("APROBADO")
elif(nota<9):
  print("NOTABLE")
elif(nota<10):
  print("SOBRESALIENTE")
else:
  print("HONORABLE")

Nota: 10
HONORABLE

**Escriba un programa que muestre la secuencia fibonacci**

In [ ]:
limit = int(input("Limit: "))
a=0
b=1
c=0
while c<limit:
  c=a+b
  print(a,"+",b,"=", c)
  b=a
  a=c

**☣TAREA SEMANA 4 ☣**

**Calcular sobre el sueldo las deducciones por ley**

In [ ]:
sueldo = float(input("Ingrese el sueldo: "))
isss = sueldo * 0.03
afp = sueldo * 0.0625

if sueldo <= 472:
    isr = 0
elif sueldo <= 895.24:
    isr = (sueldo - 472) * 0.1 + 17.67
elif sueldo <= 2038.10:
    isr = (sueldo - 895.24) * 0.2 + 60
elif sueldo <= 4125.00:
    isr = (sueldo - 2038.10) * 0.3 + 288.57
else:
    isr = (sueldo - 4125.00) * 0.4 + 692.96
total_deducciones = isss + afp + isr
sueldo_neto = sueldo - total_deducciones
print("Deducciones:")
print("- ISSS: ${:.2f}".format(isss))
print("- AFP: ${:.2f}".format(afp))
print("- ISR: ${:.2f}".format(isr))
print("Total de deducciones: ${:.2f}".format(total_deducciones))
print("Sueldo neto: ${:.2f}".format(sueldo_neto))

Ingrese el sueldo: 400
Deducciones:
- ISSS: $12.00
- AFP: $25.00
- ISR: $0.00
Total de deducciones: $37.00
Sueldo neto: $363.00

**Valor del agua en metros**

In [ ]:
metros_consumidos = int(input("Ingrese el número de metros consumidos: "))
if metros_consumidos <= 18:
    valor_pagar = 6
elif metros_consumidos <= 28:
    exceso = metros_consumidos - 18
    valor_pagar = 6 + (exceso * 0.45)
else:
    exceso1 = 28 - 18
    exceso2 = metros_consumidos - 28
    valor_pagar = 6 + (exceso1 * 0.45) + (exceso2 * 0.65)
print("El valor a pagar es: $", valor_pagar)

Ingrese el número de metros consumidos: 19
El valor a pagar es: $ 6.45

**Desarrolle la tabla de meses acumulados a n meses**

**Maximo puesto en "n"**

In [ ]:
n = int(input("¿Cuántos meses quieres ver? "))
meses_acumulados = []
for i in range(1, n+1):
    acumulado = i * (i + 1) // 2
    meses_acumulados.append(acumulado)
print("Mes\tAcumulado")
for i in range(n):
    print("{}\t{}".format(i+1, meses_acumulados[i]))

¿Cuántos meses quieres ver? 9
Mes	Acumulado
1	1
2	3
3	6
4	10
5	15
6	21
7	28
8	36
9	45

**Conversores**

In [ ]:
def convertir_unidad(valor, unidad_origen, unidad_destino, conversiones):
    return valor * conversiones.get(unidad_destino, 0) / conversiones.get(unidad_origen, 1)

def main():
    conversiones = {
        1: {
            "dolar": 1,
            "euro": 0.85,
            "pesoMEX": 20.42,
            "pesoARG": 94.88,
            "sol": 4.09,
            "realB": 4.85,
            "rublo": 93.99
        },
        2: {
            "metros": 1,
            "pies": 3.28084,
            "pulgadas": 39.3701,
            "centimetros": 100,
            "kilometros": 0.001,
            "millas": 0.000621371
        },
        3: {
            "kilogramos": 1,
            "gramos": 1000,
            "libras": 2.20462,
            "onzas": 35.274
        },
        4: {
            "bytes": 1,
            "kilobytes": 1024,
            "megabytes": 1024**2,
            "gigabytes": 1024**3,
            "terabytes": 1024**4
        },
        5: {
            "segundos": 1,
            "minutos": 1/60,
            "horas": 1/3600,
            "dias": 1/86400
        },
        6: {
            "litros": 1,
            "mililitros": 1000,
            "metros cubicos": 0.001,
            "galones": 0.264172,
            "pintas": 2.11338
        },
        7: {
            "metros cuadrados": 1,
            "centimetros cuadrados": 10000,
            "pies cuadrados": 10.7639,
            "pulgadas cuadradas": 1550.0031,
            "acres": 0.000247105
        }
    }

    while True:
        print("Seleccione la conversión que desea realizar:")
        print("1. Monedas")
        print("2. Longitud")
        print("3. Masa")
        print("4. Almacenamiento")
        print("5. Tiempo")
        print("6. Volumen")
        print("7. Área")
        opcion = int(input("Ingrese el número de la opción (1/2/3/4/5/6/7): "))

        if opcion in range(1, 8):
            valor = float(input("Ingrese el valor a convertir: "))
            unidad_origen = input("Ingrese la unidad que desea convertir: ")
            unidad_destino = input("Ingrese la unidad a la que desea convertir: ")
            resultado = convertir_unidad(valor, unidad_origen, unidad_destino, conversiones[opcion])
            print(f"El resultado de la conversión es: {resultado} {unidad_destino}")
        else:
            print("Opción no válida. Por favor, seleccione una opción válida.")

        continuar = input("¿Desea realizar otra conversión? (s/n): ")
        if continuar.lower() != 's':
            break

if __name__ == "__main__":
    main()

Seleccione la conversión que desea realizar:
1. Monedas
2. Longitud
3. Masa
4. Almacenamiento
5. Tiempo
6. Volumen
7. Área
Ingrese el número de la opción (1/2/3/4/5/6/7): 5
Ingrese el valor a convertir: 1
Ingrese la unidad que desea convertir: dias
Ingrese la unidad a la que desea convertir: horas
El resultado de la conversión es: 24.0 horas
¿Desea realizar otra conversión? (s/n): n

 **conversor propio**

In [ ]:
def convertir_conversion_personalizada(valor, cantidad_origen, cantidad_destino, decimales=2):
    return round(valor * cantidad_origen / cantidad_destino, decimales)
def main():
    while True:
        print("Seleccione la conversión que desea realizar:")
        print("1. Cajas a Unidades")
        print("2. Unidades a Cajas")
        print("3. Sacos a Libras")
        print("4. Libras a Sacos")
        print("5. Fardos a Unidades")
        print("6. Unidades a Fardos")
        opcion = int(input("Ingrese el número de la opción (1/2/3/4/5/6): "))
        if opcion == 1:
            valor = float(input("Ingrese el valor a convertir: "))
            resultado = convertir_conversion_personalizada(valor, 25, 1)
            print(f"El resultado de la conversión es: {resultado} unidades")
        elif opcion == 2:
            valor = float(input("Ingrese el valor a convertir: "))
            resultado = convertir_conversion_personalizada(valor, 1, 25)
            print(f"El resultado de la conversión es: {resultado} cajas")
        elif opcion == 3:
            valor = float(input("Ingrese el valor a convertir: "))
            resultado = convertir_conversion_personalizada(valor, 50, 1)
            print(f"El resultado de la conversión es: {resultado} libras")
        elif opcion == 4:
            valor = float(input("Ingrese el valor a convertir: "))
            resultado = convertir_conversion_personalizada(valor, 1, 50)
            print(f"El resultado de la conversión es: {resultado} sacos")
        elif opcion == 5:
            valor = float(input("Ingrese el valor a convertir: "))
            resultado = convertir_conversion_personalizada(valor, 5, 1)
            print(f"El resultado de la conversión es: {resultado} unidades")
        elif opcion == 6:
            valor = float(input("Ingrese el valor a convertir: "))
            resultado = convertir_conversion_personalizada(valor, 1, 5)
            print(f"El resultado de la conversión es: {resultado} fardos")
        else:
            print("Opción no válida. Por favor, seleccione una opción válida.")
        continuar = input("¿Desea realizar otra conversión? (s/n): ")
        if continuar.lower() != 's':
            break
if __name__ == "__main__":
    main()

Seleccione la conversión que desea realizar:
1. Cajas a Unidades
2. Unidades a Cajas
3. Sacos a Libras
4. Libras a Sacos
5. Fardos a Unidades
6. Unidades a Fardos
Ingrese el número de la opción (1/2/3/4/5/6): 1
Ingrese el valor a convertir: 3
El resultado de la conversión es: 75.0 unidades
¿Desea realizar otra conversión? (s/n): s
Seleccione la conversión que desea realizar:
1. Cajas a Unidades
2. Unidades a Cajas
3. Sacos a Libras
4. Libras a Sacos
5. Fardos a Unidades
6. Unidades a Fardos
Ingrese el número de la opción (1/2/3/4/5/6): 2
Ingrese el valor a convertir: 80
El resultado de la conversión es: 3.2 cajas
¿Desea realizar otra conversión? (s/n): n

1. **Escriba un programa que encuentre la media aritmetica de una serie de numeros introducidos por el usuario**
2. **Escriba un programa que determine si una palabra introducida por el usuario es palindrome o no, ejm. de palabras palindrome: Ana, oso, oro, etc.**
3. Escriba un programa que convierta un numero instroducido por el usuario a su equivalente en numeros romanos. Ejm: 5 -> V

**MEDIA ARITMETICA**

In [ ]:
n = int(input("Ingrese la cantidad de números: "))
numeros = []
for i in range(n):
    numero = float(input("Ingrese el número {}: ".format(i+1)))
    numeros.append(numero)
media = sum(numeros) / n
print("La media aritmética es:", media)
while True:
    continuar = input("¿Desea realizar otra conversión? (s/n): ")
    if continuar.lower() != 's':
        break

Ingrese la cantidad de números: 5
Ingrese el número 1: 4
Ingrese el número 2: 8
Ingrese el número 3: 12
Ingrese el número 4: 16
Ingrese el número 5: 20
La media aritmética es: 12.0
¿Desea realizar otra conversión? (s/n): n

**PALINDROME O NO**

In [ ]:
def es_palindromo(palabra):
    palabra = palabra.lower().replace(" ", "")
    return palabra == palabra[::-1]
while True:
    palabra = input("Ingrese una palabra: ")
    if es_palindromo(palabra):
        print("La palabra es un palíndromo")
    else:
        print("La palabra no es un palíndromo")
    continuar = input("¿Desea ingresar otra palabra? (s/n): ")
    if continuar.lower() != 's':
        break

Ingrese una palabra: oso
La palabra es un palíndromo
¿Desea ingresar otra palabra? (s/n): s
Ingrese una palabra: verde
La palabra no es un palíndromo
¿Desea ingresar otra palabra? (s/n): s
Ingrese una palabra: oro
La palabra es un palíndromo
¿Desea ingresar otra palabra? (s/n): n

**NUMEROS ROMANOS**

In [ ]:
def convertir_a_romano(numero):
    simbolos = ["M", "CM", "D", "CD", "C", "XC", "L", "XL", "X", "IX", "V", "IV", "I"]
    valores = [1000,  900, 500,  400,  100, 90,   50,  40,   10,   9,   5,   4,    1]
    romano = ""
    for i in range(len(simbolos)):
        while numero >= valores[i]:
            romano += simbolos[i]
            numero -= valores[i]
    return romano
while True:
    numero = int(input("Ingrese un número: "))
    numero_romano = convertir_a_romano(numero)
    print("El número {} en números romanos es: {}".format(numero, numero_romano))
    continuar = input("¿Desea ingresar otro número? (s/n): ")
    if continuar.lower() != 's':
        break
        cantidad = float(input('Ingrese la cantidad a convertir: '))
unidad_origen = input('Ingrese la unidad de medida de origen: ')
unidad_destino = input('Ingrese la unidad de medida de destino: ')
resultado = convertir_area(cantidad, unidad_origen, unidad_destino)
print(f'{cantidad} {unidad_origen} son {resultado} {unidad_destino}')

Ingrese un número: 5
El número 5 en números romanos es: V
¿Desea ingresar otro número? (s/n): s
Ingrese un número: 100
El número 100 en números romanos es: C
¿Desea ingresar otro número? (s/n): n

**PROGRAMACION ORIENTADA A OBJETOS.**

* CLASE

In [ ]:
class Calculadora:
  def sumar(sefl, num1, num2):
    return num1 + num2

* INSTANCIA DE UNA CLASE

In [ ]:
objCalculadora = Calculadora()

* OBJETO

In [ ]:
print( "La suma de 5 + 3 = ", objCalculadora.sumar(5,3) )

La suma de 5 + 3 =  8

**PARCIAL I PROGRAMACION III**

**RONALD ALDAIR GRANILLO ORTEZ**  *USSS007522*

*INGENIERIA EN SISTEMAS Y REDES INFORMATICAS*

*CICLO IV 2023* ©

Desarrolle el conversor de Área (Superficie) haciendo uso de los
diccionarios y las funciones de usuario en Python que contenga las
siguientes opciones

a. Pie Cuadrado

b. Vara Cuadrada

c. Yarda Cuadrada

d. Metro Cuadrado

e. Tareas

f. Manzana

g. Hectárea

In [ ]:
def convertir_area(cantidad, unidad_origen, unidad_destino):
    equivalencias = {
        'pie cuadrado': 75.950,
        'vara cuadrada':10.000 ,
        'yarda cuadrada': 8.339,
        'metro cuadrado':6.988 ,
        'tareas': 16,
        'manzana':1 ,
        'hectarea':0.698896
    }
    cantidad_metros_cuadrados = cantidad / equivalencias[unidad_origen]
    cantidad_destino = cantidad_metros_cuadrados * equivalencias[unidad_destino]
    return cantidad_destino

In [ ]:
cantidad = float(input('Ingrese la cantidad a convertir: '))
unidad_origen = input('Ingrese la unidad de medida de origen: ')
unidad_destino = input('Ingrese la unidad de medida de destino: ')
resultado = convertir_area(cantidad, unidad_origen, unidad_destino)
print(f'{cantidad} {unidad_origen} son {resultado} {unidad_destino}')

Ingrese la cantidad a convertir: 1